body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8fc;
}

.contact-form {
    background: #f1f1fa;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h2 {
    color: #ff4f78;
    font-size: 22px;
}

h3 {
    font-size: 14px;
    text-transform: uppercase;
    color: #888;
    margin-top: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

.input-group {
    position: relative;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    height: 80px;
    resize: none;
}

button {
    background: #2196F3;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
}

button:hover {
    background: #1976D2;
}


.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: block;
}
.error-border {
    border: 2px solid red;
}
