div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid darkblue;
    padding-top: 50px;

}

button{
    width: 150px;
    height: 50px;
    color: white;
    margin-bottom: 50px;
    background-color: darkmagenta;
}
